{
  "extends": "reactjs",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {},
  "env": {
    "node": true,
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "rules": {
    "jsx-no-literals": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-no-undef": 2,
    "react/wrap-multilines": 2,
    "no-alert": 0,
    "indent": [2, 2],
    "no-console": 1
  },
  "plugins": [
    "react"
  ]
}
