export const DinosaurType = new GraphQLObjectType({
  name: 'Dinosaur',
  description: 'A Dino creature beloning to the family Animilia',
  fields: {
    id: {
      type: new GraphQLNonNull(GraphQLID),
      description: 'The id of the Dinosaur'
    },
    name: {
      type: GraphQLString
    },
  }
});

export const DinosaurListType = new GraphQLObjectType({
  name: 'DinosaurList',
  fields: () => ({
    id: globalIdField('DinosaurList'),
    dinosaurs: {
      type: DinosaurListConnection
    },
  }
});