schema {
  query: Query
}

type Dinosaur {
  id: ID!
  name: String
}

type DinosaurConnection {
  edges: [DinosaurEdge]
}

type DinosaurEdge {
  node: Dinosaur
}

type DinosaurList implements Node {
  dinosaurs(kingdom: String, ...): DinosaurConnection
  totalNumberOfDinosaurs: Int
}

type Query {
  viewer: DinosaurList
  queryDinosaurList: [Dinosaur]
  queryDinosaur(id: ID!): Dinosaur
}
