const Root = new GraphQLObjectType({
  name: 'Query',
  fields: () => ({
    viewer: queryDinosaurs,
    queryDinosaurList,
    queryDinosaur
  })
});

const Mutation = new GraphQLObjectType({
  name: 'Mutation',
  fields: {
    addStar: GraphQLAddStarMutation
  }
});

export const Schema = new GraphQLSchema({
  query: Root,
  mutation: Mutation
});

export default Schema