import Radium from 'radium';
import React from 'react';
import color from 'color';

@Radium
class Button extends React.Component {
  static propTypes = {
    kind: React.PropTypes.oneOf(['primary', 'warning']).isRequired
  };

  render() {
    return (<button style={[  styles.base, styles[this.props.kind]]}>
        {this.props.children}
      </button>
    );
  }
}

var styles = {
  base: {
    color: '#fff',
    ':hover': {  background: color('#0074d9').lighten(0.2).hexString() }
  },
  primary: { background: '#0074D9' },
  warning: { background: '#FF4136' }
};